%h1 #{ @profile_user.name}

%div{:class=>'row'}
    %div{:class=>'row col-sm-10'}
        %table{:class=>'table table-striped table-hover'}
            %thead
                %tr{:class=>'fw-bolder'}
                    -if(@user!=@profile_user)
                        %th Name
                    %th Message
                    %th create_at

            %tbody
                - @profile_user.posts.sort_by {|obj| obj.created_at}.reverse!.each.with_index() do |post,index|
                    %tr
                        -if(@user!=@profile_user)
                            %td
                                = post.user.name
                        %td
                            = post.msg
                        %td
                            = post.created_at.strftime("%b %d, 20%y %k:%M:%S")
                        %td 
                            = simple_form_for(@user, method: :post, url: '/like/'+post.id.to_s) do |f|
                                .form-inputs
                                    = f.input :id,:as => :hidden
                                .form-actions
                                    -if(post.likes.find_by(user_id:@user.id))
                                        = f.button :submit,'Unlike',class:'btn btn-danger mt-3',action:'Unlike'
                                    - else
                                        = f.button :submit,'Like',class:'btn btn-secondary mt-3',action:'Like'
                            = post.likes.count
                            - if post.likes.count > 1
                                = ' Likes'
                            - else
                                = ' Like'
                            %a.wholikebutton{"data-target" => "#likeModal", "data-toggle" => "modal", :type => "button", "likers"=>"#{post.get_liked_user}"}
                                = "See who like this post"


    %div{:class=>'col col-sm-2'}
        = simple_form_for(@user, method: :post, url: '/follow?user_id='+@profile_user.id.to_s) do |f|
            .form-inputs
                = f.input :id,:as => :hidden
            .form-actions
                -if(@profile_user!=@user && @isFollowed)
                    = f.button :submit,'Unfollow',class:'btn btn-secondary mt-3',action:'Unfollow'
                -elsif(@profile_user!=@user && !@isFollowed)
                    = f.button :submit,'Follow',class:'btn btn-primary mt-3',action:'Follow'

        - if(@user==@profile_user)
            = link_to 'New post', "/new_post?user_id="+@user.id.to_s,class:"btn btn-outline-primary mt-3"
        .form-actions
            = link_to 'Back to feed', "/feed?user_id="+@user.id.to_s,class: 'btn btn-light mt-3'